<div id="contact" class="section">
  <h2 class="section-header">Let's chat.</h2>
  <h3>Currently accepting select freelance projects. I would love to hear from you!</h3>
  <form>
    <input required type="text"  name="name" placeholder="Name">
    <input required type="email" name="_replyto" placeholder="Email">
    <textarea required name="message" placeholder="How can I help?"></textarea>
    <button type="submit" md-button>START A CONVERSATION</button>
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_next" value="#thanks" />
  </form>
</div>
