<md-toolbar color="primary">
  <ul>
    <li>
      <img src="assets/icons/lightbulb.png">
      <p>HOW IT WORKS</p>
      <div class="select-arrow"></div>
    </li>
    <li>
      <img src="assets/icons/projects.png">
      <p>PROJECTS</p>
      <div class="select-arrow"></div>
    </li>
    <li>
      <img src="assets/icons/skills.png">
      <p>SKILLS</p>
      <div class="select-arrow"></div>
    </li>
    <li>
      <img src="assets/icons/contact.png">
      <p>CONTACT</p>
      <div class="select-arrow"></div>
    </li>
  </ul>
</md-toolbar>
<strapline></strapline>
<how-it-works></how-it-works>
<projects></projects>
<skills></skills>
<contact></contact>
