<md-toolbar color="primary">
  <ul>
    <li>
      <a pageScroll href="#how-it-works">
        <img src="assets/icons/lightbulb.png">
        <p>HOW IT WORKS</p>
        <div class="select-arrow"></div>
      </a>
    </li>
    <li>
      <a pageScroll [pageScrollOffset]="64" [pageScrollDuration]="500" href="#projects">
        <img src="assets/icons/projects.png">
        <p>PROJECTS</p>
        <div class="select-arrow"></div>
      </a>
    </li>
    <li>
      <a pageScroll [pageScrollOffset]="64" [pageScrollDuration]="500" href="#skills">
        <img src="assets/icons/skills.png">
        <p>SKILLS</p>
        <div class="select-arrow"></div>
      </a>
    </li>
    <li>
      <a pageScroll [pageScrollOffset]="64" [pageScrollDuration]="500" href="#contact">
        <img src="assets/icons/contact.png">
        <p>CONTACT</p>
        <div class="select-arrow"></div>
      </a>
    </li>
  </ul>
</md-toolbar>
<strapline></strapline>
<how-it-works></how-it-works>
<projects></projects>
<skills></skills>
<contact></contact>
