@import '../../../portfolio-constants.less';

#strapline {
  position: relative;
  width: 100%;
  background-color: @bg-dark;
  text-align: center;

  // space for md-toolbar
  margin-top: 64px;

  @media (max-width: 1280px) {
    margin-top: 0;
  }

  #boids-canvas-wrapper {
    z-index: 0;
    width: 100%;
    height: 400px;
  }

  #canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    z-index: 100;

    h1, h2 {
      margin: 0 auto;
      color: white;
      padding: 0 10px;
    }

    h1 {
      font-size: 2.8em;
      font-weight: 400;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 1.2em;
      font-weight: 100;
      strong {
        font-weight: 500;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 50px 0;

      a {
        li {
          margin: 0 20px;

          &:hover img {
            opacity: 1;
          }

          img {
            width: 32px;
            height: auto;
            opacity: 0.5;
          }
        }
      }
    }

    button {
      border: solid 1px white;
      color: white;
      letter-spacing: 2px;
      line-height: 3;
      font-size: 1.2em;
      font-weight: 500;
      font-family: 'Open Sans', "Helvetica Neue", sans-serif;
    }
  }
}
