<div id="strapline">
  <h1>Hi, I'm Mike.</h1>
  <h2>I build professional <strong>web and mobile apps</strong> for startups.</h2>
  <ul>
    <a href="https://www.linkedin.com/in/mikescottchristensen" target="_blank"><li><img src="assets/icons/linkedin.png"></li></a>
    <a href="https://github.com/mschristensen" target="_blank"><li><img src="assets/icons/github.png"></li></a>
    <a href="" target="_blank"><li><img src="assets/icons/download.png"></li></a>
  </ul>
  <a pageScroll [pageScrollOffset]="64" [pageScrollDuration]="500" href="#contact"><button md-button>GET IN TOUCH</button></a>
</div>
