<div id="how-it-works" class="section">
  <h2 class="section-header">How it works</h2>
  <div id="box-container">
    <div class="box">
      <div class="numeral">1</div>
      <img src="assets/icons/internet.png">
      <h3>CUTTING EDGE TECH</h3>
      <p>I work with technologies used by the leaders of the web. We'll be using the latest open source frameworks to ensure your app has a high-quality, organised and maintainable code base.</p>
    </div>
    <div class="box">
      <div class="numeral">2</div>
      <img src="assets/icons/quality.png">
      <h3>AGILE APPROACH</h3>
      <p>Your app is built in a lean, agile manner. We'll work together to break down development into bite-size chunks, which we'll organise on the 'Scrum Board'. You can see the tasks I'm working on and the progress I've made, all in real-time.</p>
    </div>
    <div class="box">
      <div class="numeral">3</div>
      <img src="assets/icons/communication.png">
      <h3>CLOSE COMMUNICATION</h3>
      <p>I'll be in close, direct communication with you throughout the entire process. You'll always be up-to-date with our progress, and I'm always there to answer any questions you may have.</p>
    </div>
  </div>
</div>
